@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
}
#game{
    display: flex;
    background-color: rgb(32,32,32);
}
.card{
    width: 160px;
    height: 120px;
    background-color: rgb(26,26,255);
    border-left: solid rgb(19,19,160) 10px;
    border-bottom: solid rgb(20,20,89) 10px;
    border-right: solid rgb(11,11,91) 10px;
    border-top: solid rgb(1,61,200) 10px;
    text-align: center;
    margin: 5px;
    font-size: 100px;
    padding: 10px;
    line-height: 120px;
}
.first-button{
    background-color: rgb(50, 235, 133);
}
.second-button{
    background-color: rgb(241, 202, 75);
}
.first-button, .second-button:hover{
    cursor: pointer;
}
.genre-title{
    background-color: rgb(216, 46, 103);
    text-align: center;
    font-size: 28px;
    padding: 5px;
    margin: 5px;
}
.correct-answer{
    background-color: rgb(19, 179, 27);
}
.wrong-answer{
    background-color: rgb(209, 50, 42);
}
